---
layout: default
refactor: true
panel_includes:
  - toc
---

{% include lang.html %}

<article class="px-1">
  <header>
    <h1 data-toc-skip>{{ page.title }}</h1>

    <div class="post-meta text-muted">
      <div class="d-flex justify-content-between">
        <div>
          <!-- read time -->
          {% include read-time.html content=content prompt=true lang=lang %}
        </div>
      </div>
      <!-- switch language-->
      <div>
        {% if page.lang == 'en' %}
        <a href="/static-pages/{{ page.alt-lang }}">切换到中文</a>
        <br />
        <a
          href="https://github.com/RoboMico/blogsite/blob/main/{{ page.source }}?plain=1"
          >View Source</a
        >
        {% endif %} {% if page.lang == 'zh-CN' %}
        <a href="/static-pages/{{ page.alt-lang }}">Read in English</a>
        <br />
        <a
          href="https://github.com/RoboMico/blogsite/blob/main/{{ page.source }}?plain=1"
          >查看源代码</a
        >
        {% endif %}
      </div>
    </div>
  </header>

  <div class="content">{{ content }}</div>

  <div class="post-tail-wrapper text-muted">
    <div
      class="post-tail-bottom d-flex justify-content-between align-items-center mt-5 pb-2"
    >
      {% include post-sharing.html lang=lang %}
    </div>
    <!-- .post-tail-bottom -->
  </div>
  <!-- div.post-tail-wrapper -->
</article>
